.profit-row {
  background-color: lightgreen !important;
}

.profit-row:nth-of-type(odd) {
  filter: brightness(0.93);
}

.ship-row {
  background-color: lightskyblue !important;
}

.ship-row:nth-of-type(odd) {
  filter: brightness(0.93);
}

.bl-expedite-row {
  background-color: yellow !important;
}

.bl-expedite-row:nth-of-type(odd) {
  filter: brightness(0.93);
}

.hold-row {
  background-color: hotpink !important;
}

.hold-row:nth-of-type(odd) {
  filter: brightness(0.93);
}

.subjob-row {
  background-color: lightyellow !important;
}

.late-row {
  background-color: darkslategrey !important;
  color: darkslategrey !important;
}

.modal-footer-custom {
  display: flex;
  justify-content: space-between;
}

.modal-title-custom {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.large-input {
  height: 125px;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
  line-height: normal;
  vertical-align: top;
}

.projectedRevenue {
  padding-top: 20px;
  font-weight: bold;
  text-align: center;
}

.expedite-row {
  background-color: pink !important;
}

.expedite-row:nth-of-type(odd) {
  filter: brightness(0.93);
}

.qc-row {
  background-color: lightskyblue !important;
}

.qc-row:nth-of-type(odd) {
  filter: brightness(0.93);
}

.custom-date-picker {
  border: none;
  background: none;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size: 15px;
  text-align: center;
  color: black;
  width: 100%; 
  cursor: pointer;
  outline: none;
  padding: 4px 0;
}

.mmBtn {
  width: 125px !important;
  font-size: 16px;
  font-weight: 600;
  color: #fff !important;
  cursor: pointer;
  height: 40px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 15px !important;
  transition: all 0.4s ease-in-out, transform 0.1s;
  background-image: linear-gradient(to right, #29323c, #485563, #485563, #29323c);
  box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75);
  outline: none;
}

.mmBtn:hover {
  background-position: 100% 0;
}

.mmBtn:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px 0 rgba(45, 54, 65, 0.75);
}

.mmBtn:focus {
  outline: none;
}

.saveBtn {
  width: 125px !important;
  font-size: 16px;
  font-weight: 600;
  color: black !important;
  cursor: pointer;
  height: 40px;
  text-align: center;
  background-size: 300% 100%;
  border-radius: 5px !important;
  border: 1px solid green !important;
  transition: all 0.4s ease-in-out, transform 0.1s;
  background-color: lightgreen !important;
  box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75);
  outline: none;
}

.saveBtn:hover {
  background-position: 100% 0;
}

.saveBtn:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px 0 rgba(45, 54, 65, 0.75);
}

.saveBtn:focus {
  outline: none;
}

.holdBtn {
  width: 125px !important;
  font-size: 16px;
  font-weight: 600;
  color: black !important;
  cursor: pointer;
  height: 40px;
  text-align: center;
  background-size: 300% 100%;
  border-radius: 5px !important;
  border: 1px solid orange !important;
  transition: all 0.4s ease-in-out, transform 0.1s;
  background-color:#FFDAB9 !important;
  box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75);
  outline: none;
}

.holdBtn:hover {
  background-position: 100% 0;
}

.holdBtn:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px 0 rgba(45, 54, 65, 0.75);
}

.holdBtn:focus {
  outline: none;
}

.cancelBtn {
  width: 125px !important;
  font-size: 16px;
  font-weight: 600;
  color: black !important;
  cursor: pointer;
  height: 40px;
  text-align: center;
  background-size: 300% 100%;
  border-radius: 5px !important;
  transition: all 0.4s ease-in-out, transform 0.1s;
  background-color: lightpink !important;
  border: 1px solid red !important;
  box-shadow: 0 4px 10px 0 rgba(45, 54, 65, 0.75);
  outline: none;
}

.cancelBtn:hover {
  background-position: 100% 0;
}

.cancelBtn:active {
  transform: scale(0.98);
  box-shadow: 0 2px 5px 0 rgba(45, 54, 65, 0.75);
}

.cancelBtn:focus {
  outline: none;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;    
  width: 100%;            
  margin-top: 20px;
}

.pagination-arrow {
  border: none;
  background-color: transparent !important;
  font-weight: bold;
  cursor: pointer;
  margin: 0 10px;
  box-shadow: none !important;
  text-decoration: none;
  color: black !important;
}

.pagination-arrow:hover,
.pagination-arrow:focus {
  background-color: transparent !important;
  outline: none;
}

.pagination-arrow:disabled {
  color: #ddd;
  cursor: not-allowed;
  background-color: transparent !important;
}

.pagination-number {
  border: 2px solid #ddd; 
  background-color: transparent !important; 
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: none !important;
  transition: all 0.2s ease;
  color: black !important;
}

.pagination-number[disabled] {
  border: none !important;
  cursor: default;
  color: #000 !important; 
  padding: 5px 10px;
  margin: 0 5px;
  background-color: transparent !important;
}

.pagination-number[disabled]:hover {
  cursor: default;
}

.pagination-number:hover {
  background-color: transparent !important;
  border-color: #ddd !important;
  color: inherit !important;
  box-shadow: none !important;
  padding: 5px 10px;  
  border-width: 2px !important;
}

.pagination-number.selected {
  border: 1px solid lightgrey;
  font-weight: bold;
  background-color: transparent !important;
  padding: 5px 10px;
  border-width: 1px !important;
}